$white-color: #fff;
$background-color: #f6f6f6;
$primary-color: #131212;
$placeholder-color: rgba(139, 132, 132, 95%);

$main-font: 'TradeGothicLTBold';
$secondary-font: 'HelveticaNeue';

$brown-select-color: #b6a179;
$black-select-color: #272425;
$blue-select-color: #6389cb;
$yellow-select-color: #f2c758;
$white-select-color: #fff;
