@import 'styles/utils/variables';
@import 'styles/utils/mixins';
@import 'styles/base/fonts';
@import 'styles/base/reset';

.kek {
    color: #000;
    font-family: TradeGothicLT, sans-serif;
    font-size: 72px;
}
